# vim temp files #
*~
*.swp
*.swo
*.map

*.orig

tags

log.log
debug.log*
mailer.log*
soap.log*

a.out

**/htmlcov/**
reviewroom/mail/logs
reviewroom/mail/run

*/doc_conversion/*.dll
*/doc_conversion/*.suo
*/doc_conversion/DocConversionServer/DocConversionServer/bin/*
*/doc_conversion/DocConversionServer/packages/*
*/doc_conversion/DocConversionServer/DocConversionServer/obj/*

reviewroom/coverage
reviewroom/project/passwords.json
reviewroom/project/npm-debug.log
reviewroom/media/admin

.coverage*
fluidsurveys/htmlcov
*.xcuserstate
._*
*.pyc
build
.pydevproject
.project
*.sublime-workspace
*.sublime-project
.directory
.tmp*
*.bak
*/database
*/media/htmlstore
*/media/assets
*/media/static
*/media/packages
*/media/c/
*settings_local.py
.settings
.metadata
*.py~
*.html~
*.json~
*.txt~
*.js~
*.css~
*copy)*
*Thumbs.db
*/private
*_compressed.*
*/project/settings/local.py
*/config/local.py
/test
*/matttemp/*
.codeintel
node_modules
.sass-cache
test.db
*DS_Store
*/media/docs
*.pid
sql.log*

reviewroom/media/admin

apps/chide/feedback/media/documents/bin/pdfconvert2.dSYM/*
npm-debug.log
reviewroom/scripts/trans/mac_compilemessages.sh
**/*.fr
**/*__assets.zip

**/threads.log
reviewroom/project/*.log

ghostdriver.log
nginx-access.log
nginx-error.log
